# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MyJavaWorkSpace's\MyIntelliJ-Practice\Student-JdbcTemplate-Demo-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
